body {
  font-family: 'Roboto', sans-serif;
  width: 1600;
  padding: 0;
  margin: 0;
}

header {
  background: url(../assets/your_life_bg.png) no-repeat center top / cover;
  height: 100vh;

}

.container {
  width: 1600px;
  margin: 0 auto;
}


nav {
  float: center;
  margin-top: 56px;
  margin-left: 25%;


}

.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 12px 50px;
  font-size: 14;
  font-weight: bold;
}

.topnav a:hover {
  border-bottom: 1px solid #ffffff;
}

.downnav a {
  color: #ffffff;
  text-align: center;
  padding: 12px 30px;
  font-size: 14;
  font-weight: bold;
}

.downnav a {
  float: center;
  margin-top: 5px;
  margin-left: 15%;


}

.titles_first {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin: 15;
}

h1 {
  font-size: 64px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 173px;
  margin: 15;
}

.button {
  background: #00AFDB;
  color: #ffffff;
  border-radius: 3px;
  display: block;
  width: 184px;
  padding: 16px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}

.titles_second {
  font-size: 14px;
  color: #0c0c0c;
  text-align: left;
  margin-top: 30px;
  margin: 15;
}

h2 {
  font-size: 24px;
  color: #0a0a0a;
  text-transform: uppercase;
  text-align: left;
  margin-top: 173px;
  margin: 15;
}

.button_2 {
  background: #00AFDB;
  color: #ffffff;
  border-radius: 3px;
  display: block;
  width: 184px;
  padding: 16px 0;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}

section .your_life {
  width: 76%;
  margin: 0 auto;

}

section .main_about {
  display: flex;
  padding: 100px 0 100px 0;
}

.about_right {
  margin-left: 175px;
}

.sign_up {
  background: url(../assets/sign_up_bg.png) no-repeat center top / cover;
  height: 100vh;
}

h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 15;
}

h5 {
  font-size: 24px;
  color: #0a0a0a;
  text-transform: uppercase;
  text-align: center;
  margin-top: 173px;
  margin: 15;
}

.titles_sign {
  font-size: 14px;
  color: #0c0c0c;
  text-align: center;
  margin-top: 30px;
  margin: 15;
}